{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<h4>{{no_active_listings}}</h4>
{% for active_listing in active_listings %}


<div class="item-div">
 
  

<div class="img-div">
                {% if active_listing.image %}
                 
                <a href="{% url 'listing_page' active_listing.id %}"> <img  src="{{ active_listing.image.url }}" alt="" width="200" height="200"> </a>
                {% else %}
                 <a href="{% url 'listing_page' active_listing.id %}"> <img  src="" alt="" width="200" height="200"> </a>
                 {% endif %}
</div>

<div class="detail-div">
                <h3>{{active_listing.item_name}} </h3>
                <h5>price: ${{ active_listing.price}} </h5>
             
                <h5>Shoe {{active_listing.amount}}</h5>
                <h6 id="date">created: {{active_listing.date_created}}</h6>
</div>
 

    {{no_active_listings}}

</div>

{% endfor %}
{% endblock %}

<!-- {% if active_listing.image.url %} {{ active_listing.image.url }} {% else %} null {% endif %} -->